.label {
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-family: verdana;
}
.chart-legend {
    -fx-text-fill: black
}
.button {
    -fx-font-size: 14;
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-min-width: 130px;
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-radius: 15px;
}
.header {
    -fx-text-fill: green;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-font-family: verdana;

}
.hBox {

    -fx-background-color: #eeeeee;
    -fx-text-fill: #000000;

    -fx-background-radius: 15px;
}
.hBox1 {
    -fx-background-color: #eeeeee;
    -fx-text-fill: #000000;


    -fx-background-radius: 15px;


}
.vBox {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-font-family: verdana;
    -fx-background-color: #083a63;
    -fx-background-image: url('Image/lastbg.PNG');
    -fx-background-size: 650px 500px;
    -fx-background-position: bottom right;
    -fx-background-repeat: no-repeat;
    -fx-padding: 12;
    -fx-spacing: 12;
    -fx-opacity: 50;
}
.left {
    -fx-text-fill: green;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-font-family: verdana;
    -fx-background-color: #093260;
    -fx-padding: 12;
    -fx-spacing: 12;
}
.header {
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-font-family: verdana;
    -fx-background-color: #082c54;
    -fx-padding: 12;
}
.table-cell {
    -fx-background-color: #206bc2;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
    -fx-min-width: 100px;
}
.body {
    -fx-background-color: #0a3260;
    -fx-padding: 12;
    -fx-spacing: 40;
}
.button:hover {
    -fx-text-fill: gold;
    -fx-border-color: gold;
}
.right {
    -fx-text-fill: green;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-font-family: verdana;
    -fx-background-color: #0a3260;
    -fx-padding: 12;
    -fx-spacing: 12;
}
